:root {
	--viewport: main;
}

body
{
	background-image:url('design-space-paper-textured-background.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}

#sideBar
{
	position: fixed;
	box-sizing: border-box;
	top:0;
	left:0;
	width:150px;
	height:100%;
}

#sideBar button
{
	width:100%;
	margin-top:30px;
	margin-left:30px;
	margin-bottom:0px;
	background-color:#FFFFFF;
	font-size:16px;
}

#mainBody
{
	margin-top:50px;
	margin-left:200px;
	top:0;
	height:auto;
	width:auto;
}

.header
{
    margin-left:200px;
    top:0;
    height:auto;
    width:auto;
    font-size:20px;
}

.headinfo
{
    font-size:14px;
}

.foot
{
    font-size:12px;
}
