:root {
	--viewport: main;
}

body
{
	background-image:url('905239.png');
	background-repeat:no-repeat;
	background-size:cover;
    background-color:#000000
}

#sideBar
{
	position: fixed;
	box-sizing: border-box;
	top:0;
	left:0;
	width:150px;
	height:100%;
}

#sideBar button
{
	width:100%;
	margin-top:30px;
	margin-left:30px;
	margin-bottom:0px;
	background-color:#FFFFFF;
	font-size:16px;
}

#mainBody
{
	margin-top:50px;
	margin-left:200px;
    margin-right:200px;
	top:0;
	height:auto;
	width:auto;
    text-align:center;
    font-size:26px;
    color:#FFFFFF
}

.header
{
    margin-left:200px;
    margin-right:200px;
    top:0;
    height:auto;
    width:auto;
    font-size:30px;
    text-align:center;
    color:#FFFFFF;
}

.headinfo
{
    font-size:24px;
}

.foot
{
    font-size:14px;
}
